@model ContosoUniversity.Models.Instructor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Instructor</legend>

    <div class="display-label">Last Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">First Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstMidName)
    </div>

    <div class="display-label">Hire Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireDate)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PersonID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
